"Rainbow Dash": "rainbow-dash"
"Twilight Sparkle": "twilight-sparkle"
"Fluttershy": "fluttershy"
"Applejack": "applejack"
"Pinkie Pie": "pinkie-pie"
"Rarity": "rarity"
"Berry Punch": "berry-punch"
"Princess Luna": "princess-luna"
"Princess Celestia": "princess-celestia"
"Derpy": "derpy"
"Vinyl Scratch": "vinyl-scratch"
"Lyra": "lyra"
"Bon Bon": "bonbon"
"Octavia": "octavia"
"Doctor Whooves": "doctor-whooves"
"Big Mac": "big-mac"
"Colgate": "colgate"
"Pokey Pierce": "pokey-pierce"
"Roseluck": "roseluck"
"Zecora": "zecora"
"Sea Swirl": "sea-swirl"
"Carrot Top": "carrot-top"
"Screwball": "screw-ball"
"Nurse Redheart": "nurse-redheart"
"Caramel": "caramel"
"Braeburn": "braeburn"
"Wonderbolts": "wonderbolts"
"Shadowbolts": "shadowbolts"
"Scootaloo": "scootaloo"
"Apple Bloom": "apple-bloom"
"Sweetie Belle": "sweetie-belle"
"Davenport": "davenport"
"Cheerilee": "cheerilee"
"Nightmare Moon": "nightmare-moon"
"Trixie Lulamoon": "trixie"
"Prince Blueblood": "prince-blueblood"
"Daring Do": "daring-do"
"Mr. Carrot Cake": "carrot-cake"
"Mrs. Cup Cake": "cup-cake"
"Flim": "flim"
"Flam": "flam"
"Silver Spoon": "silver-spoon"
"Diamond Tiara": "diamond-tiara"
"Snips": "snips"
"Snails": "snails"
"Twist": "twist"
"Truffle Shuffle": "truffle-shuffle"
"Amethyst Star": "amethyst-star"
"Hairy Tipper": "hairy-tipper"
"Fancypants": "fancypants"
"Fleur de Lis": "fleur-de-lis"
"Princess Cadance": "princess-cadance"
"Shining Armor": "shining-armor"
"Filthy Rich": "filthy-rich"
"Hoity Toity": "hoity-toity"
"Cloudchaser": "cloudchaser"
"Flitter": "flitter"
"Lily Valley": "lily-valley"
"Granny Smith": "granny-smith"
"Daisy": "daisy"
"Queen Chrysalis": "queen-chrysalis"
"Lotus Blossom": "lotus-blossom"
"Aloe": "aloe"
"Sew 'n Sow": "sew-n-sow"
"Spitfire": "spitfire"
"Doctor Stable": "doctor-stable"
"Mayor Mare": "mayor-mare"
"Soarin": "soarin"
"Maud Pie": "maud-pie"
"Spike": "spike"
"Sunset Shimmer": "sunset-shimmer"
"Cheese Sandwich": "cheese-sandwich"
"Flash Sentry": "flash-sentry"
"Coco Pommel": "coco-pommel"
"Thunderlane": "thunderlane"
"Apple Fritter": "apple-fritter"
"Flutterbat": "flutterbat"
"Blossomforth": "blossomforth"
"Starlight Glimmer": "starlight-glimmer"
"Equality": "equality"
"Double Diamond": "double-diamond"
"Sugar Belle": "sugar-belle"
"Night Glider": "night-glider"
"Party Favor": "party-favor"
